---
import CenterBody from '../components/CenterBody.astro';
import SideBarAd from '../components/SideBarAd.astro';
import SideBarLeft from '../components/SideBarLeft.astro';
import SideBarLeftBottom from '../components/SideBarLeftBottom.astro';
import SideBarRight from '../components/SideBarRight.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="InLinked">
	<main class="max-w-3xl mx-auto flex space-x-1">
		<div class="w-3/12 flex flex-col space-y-1">
			<SideBarLeft />			
			<SideBarLeftBottom />
		</div>
		<div class="mt-1 w-5/12">
			<CenterBody />
		</div>
		<div class="mt-1 w-4/12 flex flex-col space-y-1">
			<SideBarRight />
			<SideBarAd />
		</div>
		<!-- <div class="bg-white rounded mt-1 border border-stone-200">
			<SideBarLeftBottom />
		</div> -->

	</main>
</Layout>
