---
import InLinkedLogo from '../components/InLinkedLogo.astro';
---


<div class="flex justify-start items-center space-x-2 w-full">
    <InLinkedLogo />
    <div class="mb-2">
        <input class="bg-slate-200 text-slate-800 p-1 pl-6 rounded text-xs w-[175px] absolute my-auto" type="text" placeholder="Search" />        
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 text-gray-500 relative top-1 left-1">
            <path fill-rule="evenodd" d="M10.5 3.75a6.75 6.75 0 100 13.5 6.75 6.75 0 000-13.5zM2.25 10.5a8.25 8.25 0 1114.59 5.28l4.69 4.69a.75.75 0 11-1.06 1.06l-4.69-4.69A8.25 8.25 0 012.25 10.5z" clip-rule="evenodd" />
        </svg>        
    </div>
</div>