<div class="w-full flex justify-end items-center">
  <div class="w-3/4 h-[0.5px] bg-slate-600 mx-auto mt-2"></div>
  <div class="text-slate-600 mt-2 flex text-[9px] mr-1">
    Sort by:<span class="font-semibold ml-[1.5px]">Top</span>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="w-3 h-3"
    >
      <path
        fill-rule="evenodd"
        d="M12.53 16.28a.75.75 0 01-1.06 0l-7.5-7.5a.75.75 0 011.06-1.06L12 14.69l6.97-6.97a.75.75 0 111.06 1.06l-7.5 7.5z"
        clip-rule="evenodd"></path>
    </svg>
  </div>

  <!-- Create a centered horizontal line that leads to Sort By: Top using tailwind -->
</div>
